.banner {
  background-image: url("bannerbackground.png");
  height: 300px !important;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1200px;
  overflow-y: hidden;
}

@media only screen and (min-width: 640px) {
  .banner {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .banner {
    height: 500px !important;
    background-position: center;
    background-size: cover;
  }
}
